<footer>
	<div class="container">
		<figure>
			<img src="/img/logo-light.png" alt="Logo" />
		</figure>
		<p>© 2026 Archibald. Template originally by Kodinger under the MIT License.</p>
	</div>
</footer>
